/* Add additional stylesheets below
-------------------------------------------------- */
.truncate {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.instance_count:before {
	content: "Run:";
	position:absolute;
	top:0.4rem;
	left:1.5rem;
}
.instance_count input {
	padding-left:3rem;
}
.text-black {
  color: black;
}