/* Add additional stylesheets below
-------------------------------------------------- */
.truncate {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.instance_count:before {
	content: "Run:";
	position:absolute;
	top:0.4rem;
	left:1.5rem;
}
.instance_count input {
	padding-left:3rem;
}
.text-black {
  color: black;
}

/* Accordian styles */
.panel-collapse {
  overflow-y:hidden;
  max-height:500px;
  transition: max-height 0.75s ease-in-out;
}

.panel-collapse.closed {
  max-height:0px;
  transition: max-height 0.75s ease-in-out;
}

/* Inliner styles */
.editable {
  background-color: #EEE;
  padding:0.35rem;
  border: 1px solid #EEE;
}
.editable:hover {
  border-color:#CCC;
  cursor:pointer;
}

.editable .placeholder {
  color:#BBB;
}